*{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

div{
	position: relative;
	float: left;
	border: 1px solid black;
	padding: 0px;
	background-color: pink;
	box-sizing: border-box;
	margin-left: 15px;
	margin-right: 5px;
	margin-bottom: 15px;
}

p{
	margin-top: 40px;
}

h2{
	position: absolute;
	border: 1px solid black;
	padding: 0px;
	margin: 0px;
	width: 130px;
	text-align: center;
}

#red{
	background-color: red;
	right: 0px;
	top: 0px;
}

#green{
	background-color: green;
	right: 0px;
	top: 0px;
}

#blue{
	background-color: blue;
	right: 0px;
	top: 0px;
}

h1{
	text-align: center;
	margin-bottom: 30px;
}

@media(min-width: 992px){
	div{
		width: 31%;
	}
}

@media(min-width: 768px) and (max-width: 991px){
	.box{
		width: 47%;
	}

	.box3{
		width: 96.5%;
	}


}